chardet==2.3.0
codebug-tether==0.7.0
codegen==1.0
colorama==0.3.2
Django==2.2.13
html5lib==0.999
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
patterns==0.3
pgzero==1.1
pyserial==2.6
pytz==2017.3
requests==2.4.3
sense-emu==1.0
sense-hat==2.2.0
six==1.8.0
spidev==3.0
twython==3.1.2
urllib3==1.9.1
Werkzeug==0.9.6
